
@media only screen and (max-width: 950px) {
    .controller {
        width: 96vw;
        height: 98vh;
        background-color: #EEF2AC;
        border-radius: 5%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        position: absolute;
        top: 68%;
        right: 18%;
        transform: translate(50%, -50%) rotate(90deg);
        transform-origin: right top;
    }

    .title h1 {
        color: #354E09;
    }

    .circle-container {
        position: absolute;
        top: 50px;
        right: 50%;
    }

    .circle {
        width: 60px;
        height: 60px;
        border: 2px solid #354E09;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #354E09;
        font-weight: bold;
        transform: translate(50%, -50%) rotate(90deg);
    }
}



.controller {
    width: 96vw;
    height: 98vh;
    background-color: #EEF2AC;
    border-radius: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    top: 68%;
    right: 18%;
}

.title h1 {
    color: #354E09;
}

.circle-container {
    position: absolute;
    top: 50px;
    right: 50%;
}

.circle {
    width: 60px;
    height: 60px;
    border: 2px solid #354E09;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #354E09;
    font-weight: bold;
}







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #27272c;
}

button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;

}

button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: rgb(0, 0, 0);
  color: #fff;
}

